<%- include('partials/header'); -%>
<div class="container">
  <%- include('partials/navbar') %>

  <header class="hero">
    <div class="hero__headings">
      <h2 class="title">Easy cooking</h2>
      <h3 class="subtitle">Cooking recipes</h3>
    </div>
    <a href="/recipes" class="hero__btn">View Recipes</a>
  </header>

</div>


<%- include('partials/footer'); -%>