<%- include('partials/header'); -%>
<%- include('partials/navbar') %>

<div class="container">
  <form action="">
    <h2>Log in</h2>
    <label for="email">Email</label>
    <input type="email" name="email" required />
    <div class="email error"></div>
    <label for="password">Password</label>
    <input type="password" name="password" required />
    <div class="password error"></div>
    <button class="form-btn">Log in</button>
  </form>
</div>
<script lang="javascript" type="text/javascript" src="/js/login.js"></script>
<%- include('partials/footer'); -%>